h1{
    font-family: inherit;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
background-color: black;
font-family: inherit;
}